main div:nth-child(1) {
  background: #d1b066; }

main div:nth-child(2) {
  background: #d721b3; }

main div:nth-child(3) {
  background: #53b99f; }

main div:nth-child(4) {
  background: #02f07c; }

main div:nth-child(5) {
  background: #b7bcb2; }

main div:nth-child(6) {
  background: #71f261; }

main div:nth-child(7) {
  background: #647efb; }

main div:nth-child(8) {
  background: #d7a1f8; }

main div:nth-child(9) {
  background: #12571e; }

main div:nth-child(10) {
  background: #b9ada4; }

main div:nth-child(11) {
  background: #6f7a2b; }

main div:nth-child(12) {
  background: #b9fee3; }

main div:nth-child(13) {
  background: #5938ba; }

main div:nth-child(14) {
  background: #7e7f59; }

main div:nth-child(15) {
  background: #7ab68d; }

main div:nth-child(16) {
  background: #4a6d47; }

main div:nth-child(17) {
  background: #f4022e; }

main div:nth-child(18) {
  background: #5f6cb6; }

main div:nth-child(19) {
  background: #28918e; }

main div:nth-child(20) {
  background: #230661; }

main div:nth-child(21) {
  background: #03d299; }

main div:nth-child(22) {
  background: #eb6868; }

main div:nth-child(23) {
  background: #d7378b; }

main div:nth-child(24) {
  background: #8555e7; }

main div:nth-child(25) {
  background: #55f7a4; }

main div:nth-child(26) {
  background: #670553; }

main div:nth-child(27) {
  background: #6c23c0; }

main div:nth-child(28) {
  background: #cde54d; }

main div:nth-child(29) {
  background: #39c277; }

main div:nth-child(30) {
  background: #4ac512; }

main div:nth-child(31) {
  background: #fbed05; }

main div:nth-child(32) {
  background: #1aa7d2; }

main div:nth-child(33) {
  background: #ba0e52; }

main div:nth-child(34) {
  background: #45903b; }

main div:nth-child(35) {
  background: #250a94; }

main div:nth-child(36) {
  background: #5ef292; }

main div:nth-child(37) {
  background: #5a64fa; }

main div:nth-child(38) {
  background: #ef7120; }

main div:nth-child(39) {
  background: #d2d24d; }

main div:nth-child(40) {
  background: #407844; }

main div:nth-child(41) {
  background: #fb9e99; }

main div:nth-child(42) {
  background: #61921f; }

main div:nth-child(43) {
  background: #031945; }

main div:nth-child(44) {
  background: #b814e3; }

main div:nth-child(45) {
  background: #1b0208; }

main div:nth-child(46) {
  background: #4f76d8; }

main div:nth-child(47) {
  background: #92d735; }

main div:nth-child(48) {
  background: #0ab545; }

main div:nth-child(49) {
  background: #4d4f4c; }

main div:nth-child(50) {
  background: #bec67c; }

main div:nth-child(51) {
  background: #462a13; }

main div:nth-child(52) {
  background: #399e01; }

main div:nth-child(53) {
  background: #4b7ea5; }

main div:nth-child(54) {
  background: #480415; }

main div:nth-child(55) {
  background: #15d580; }

main div:nth-child(56) {
  background: #0aa647; }

main div:nth-child(57) {
  background: #4fc966; }

main div:nth-child(58) {
  background: #395bfe; }

main div:nth-child(59) {
  background: #72360e; }

main div:nth-child(60) {
  background: #9abfb6; }

main div:nth-child(61) {
  background: #815bc6; }

main div:nth-child(62) {
  background: #68ad6e; }

main div:nth-child(63) {
  background: #ecf00c; }

main div:nth-child(64) {
  background: #0a2db2; }

main div:nth-child(65) {
  background: #ef761f; }

main div:nth-child(66) {
  background: #bf5356; }

main div:nth-child(67) {
  background: #779532; }

main div:nth-child(68) {
  background: #2776c2; }

main div:nth-child(69) {
  background: #125844; }

main div:nth-child(70) {
  background: #6fd5fd; }

main div:nth-child(71) {
  background: #c41651; }

main div:nth-child(72) {
  background: #2a78de; }

main div:nth-child(73) {
  background: #0ac5f1; }

main div:nth-child(74) {
  background: #ff83f8; }

main div:nth-child(75) {
  background: #74c80d; }

main div:nth-child(76) {
  background: #9ecc8d; }

main div:nth-child(77) {
  background: #72291c; }

main div:nth-child(78) {
  background: #b55061; }

main div:nth-child(79) {
  background: #cf7810; }

main div:nth-child(80) {
  background: #8a9dfc; }

main div:nth-child(81) {
  background: #eed4da; }

main div:nth-child(82) {
  background: #684252; }

main div:nth-child(83) {
  background: #c91595; }

main div:nth-child(84) {
  background: #306c43; }

main div:nth-child(85) {
  background: #793a55; }

main div:nth-child(86) {
  background: #7a547d; }

main div:nth-child(87) {
  background: #1a4229; }

main div:nth-child(88) {
  background: #9d27d2; }

main div:nth-child(89) {
  background: #e0b668; }

main div:nth-child(90) {
  background: #6096c8; }

main div:nth-child(91) {
  background: #c009e4; }

main div:nth-child(92) {
  background: #ebd099; }

main div:nth-child(93) {
  background: #b944ac; }

main div:nth-child(94) {
  background: #955103; }

main div:nth-child(95) {
  background: #9a66bc; }

main div:nth-child(96) {
  background: #fa56e8; }

main div:nth-child(97) {
  background: #2a5de3; }

main div:nth-child(98) {
  background: #f4f960; }

main div:nth-child(99) {
  background: #a30c73; }

main div:nth-child(100) {
  background: #9db4ed; }

main div:nth-child(101) {
  background: #087a29; }

main div:nth-child(102) {
  background: #bf732f; }

main div:nth-child(103) {
  background: #b31582; }

main div:nth-child(104) {
  background: #9b32b6; }

main div:nth-child(105) {
  background: #ebaa94; }

main div:nth-child(106) {
  background: #f5f79a; }

main div:nth-child(107) {
  background: #1e7592; }

main div:nth-child(108) {
  background: #c97435; }

main div:nth-child(109) {
  background: #aa819a; }

main div:nth-child(110) {
  background: #a12a0f; }

main div:nth-child(111) {
  background: #15308b; }

main div:nth-child(112) {
  background: #e3628d; }

main div:nth-child(113) {
  background: #96abef; }

main div:nth-child(114) {
  background: #18a75c; }

main div:nth-child(115) {
  background: #b8f977; }

main div:nth-child(116) {
  background: #88aaef; }

main div:nth-child(117) {
  background: #a2869e; }

main div:nth-child(118) {
  background: #569fa5; }

main div:nth-child(119) {
  background: #bb8435; }

main div:nth-child(120) {
  background: #d28aa5; }

main div:nth-child(121) {
  background: #08cad0; }

main div:nth-child(122) {
  background: #08eb32; }

main div:nth-child(123) {
  background: #4f26cf; }

main div:nth-child(124) {
  background: #f52e5e; }

main div:nth-child(125) {
  background: #41e881; }

main div:nth-child(126) {
  background: #b80461; }

main div:nth-child(127) {
  background: #209ceb; }

main div:nth-child(128) {
  background: #afeaaf; }

main div:nth-child(129) {
  background: #323128; }

main div:nth-child(130) {
  background: #e88688; }

main div:nth-child(131) {
  background: #606244; }

main div:nth-child(132) {
  background: #95a6a8; }

main div:nth-child(133) {
  background: #22307e; }

main div:nth-child(134) {
  background: #32c36a; }

main div:nth-child(135) {
  background: #774b5d; }

main div:nth-child(136) {
  background: #f9ee2d; }

main div:nth-child(137) {
  background: #f62b39; }

main div:nth-child(138) {
  background: #8711e7; }

main div:nth-child(139) {
  background: #83eba4; }

main div:nth-child(140) {
  background: #65befb; }

main div:nth-child(141) {
  background: #673f55; }

main div:nth-child(142) {
  background: #11fead; }

main div:nth-child(143) {
  background: #9bb997; }

main div:nth-child(144) {
  background: #e933d5; }

main div:nth-child(145) {
  background: #f0a77c; }

main div:nth-child(146) {
  background: #171181; }

main div:nth-child(147) {
  background: #688273; }

main div:nth-child(148) {
  background: #adea67; }

main div:nth-child(149) {
  background: #2c2e24; }

main div:nth-child(150) {
  background: #d088af; }

main div:nth-child(151) {
  background: #a069d4; }

main div:nth-child(152) {
  background: #051ff5; }

main div:nth-child(153) {
  background: #13ebcd; }

main div:nth-child(154) {
  background: #5d79de; }

main div:nth-child(155) {
  background: #d7d172; }

main div:nth-child(156) {
  background: #f59f1f; }

main div:nth-child(157) {
  background: #33b5c1; }

main div:nth-child(158) {
  background: #78cf85; }

main div:nth-child(159) {
  background: #d9672e; }

main div:nth-child(160) {
  background: #50e0cb; }

main div:nth-child(161) {
  background: #4d7e17; }

main div:nth-child(162) {
  background: #acc332; }

main div:nth-child(163) {
  background: #668b9f; }

main div:nth-child(164) {
  background: #ef31d9; }

main div:nth-child(165) {
  background: #39dcad; }

main div:nth-child(166) {
  background: #07b532; }

main div:nth-child(167) {
  background: #0db069; }

main div:nth-child(168) {
  background: #4e5b05; }

main div:nth-child(169) {
  background: #944e6f; }

main div:nth-child(170) {
  background: #7f4f2c; }

main div:nth-child(171) {
  background: #55d283; }

main div:nth-child(172) {
  background: #53c99a; }

main div:nth-child(173) {
  background: #0b56e4; }

main div:nth-child(174) {
  background: #ee78b7; }

main div:nth-child(175) {
  background: #13f855; }

main div:nth-child(176) {
  background: #aef38e; }

main div:nth-child(177) {
  background: #9a46ad; }

main div:nth-child(178) {
  background: #abd410; }

main div:nth-child(179) {
  background: #522a29; }

main div:nth-child(180) {
  background: #b6f01f; }

main div:nth-child(181) {
  background: #113311; }

main div:nth-child(182) {
  background: #5fe8c8; }

main div:nth-child(183) {
  background: #08ab2b; }

main div:nth-child(184) {
  background: #148cdc; }

main div:nth-child(185) {
  background: #e246c9; }

main div:nth-child(186) {
  background: #4bff27; }

main div:nth-child(187) {
  background: #66976a; }

main div:nth-child(188) {
  background: #846f3e; }

main div:nth-child(189) {
  background: #1be5e7; }

main div:nth-child(190) {
  background: #c1fb6e; }

main div:nth-child(191) {
  background: #e23d47; }

main div:nth-child(192) {
  background: #014082; }

main div:nth-child(193) {
  background: #f8a814; }

main div:nth-child(194) {
  background: #39658e; }

main div:nth-child(195) {
  background: #66d572; }

main div:nth-child(196) {
  background: #6f8409; }

main div:nth-child(197) {
  background: #c9eb52; }

main div:nth-child(198) {
  background: #ee34c9; }

main div:nth-child(199) {
  background: #c180d9; }

main div:nth-child(200) {
  background: #e15fe7; }

main div:nth-child(201) {
  background: #1c4f2d; }

main div:nth-child(202) {
  background: #d9c97d; }

main div:nth-child(203) {
  background: #88b6e9; }

main div:nth-child(204) {
  background: #d79d61; }

main div:nth-child(205) {
  background: #d3e6db; }

main div:nth-child(206) {
  background: #cc18dd; }

main div:nth-child(207) {
  background: #ae3bef; }

main div:nth-child(208) {
  background: #db23a4; }

main div:nth-child(209) {
  background: #62ff81; }

main div:nth-child(210) {
  background: #c278a4; }

main div:nth-child(211) {
  background: #d42df4; }

main div:nth-child(212) {
  background: #f5f6cc; }

main div:nth-child(213) {
  background: #102271; }

main div:nth-child(214) {
  background: #e411ed; }

main div:nth-child(215) {
  background: #0e7e91; }

main div:nth-child(216) {
  background: #7eaeda; }

main div:nth-child(217) {
  background: #7cf70d; }

main div:nth-child(218) {
  background: #5615ca; }

main div:nth-child(219) {
  background: #f58215; }

main div:nth-child(220) {
  background: #a1f412; }

main div:nth-child(221) {
  background: #47ed86; }

main div:nth-child(222) {
  background: #69837d; }

main div:nth-child(223) {
  background: #da2165; }

main div:nth-child(224) {
  background: #7b4a8a; }

main div:nth-child(225) {
  background: #9d8d87; }

main div:nth-child(226) {
  background: #ca614c; }

main div:nth-child(227) {
  background: #b07817; }

main div:nth-child(228) {
  background: #afb290; }

main div:nth-child(229) {
  background: #0e177e; }

main div:nth-child(230) {
  background: #2ffc97; }

main div:nth-child(231) {
  background: #694be4; }

main div:nth-child(232) {
  background: #b8b464; }

main div:nth-child(233) {
  background: #2dfd95; }

main div:nth-child(234) {
  background: #f2def2; }

main div:nth-child(235) {
  background: #c2c59f; }

main div:nth-child(236) {
  background: #a45bfc; }

main div:nth-child(237) {
  background: #34ed01; }

main div:nth-child(238) {
  background: #a82adc; }

main div:nth-child(239) {
  background: #6a07f9; }

main div:nth-child(240) {
  background: #8c4316; }

main div:nth-child(241) {
  background: #8d2433; }

main div:nth-child(242) {
  background: #67da18; }

main div:nth-child(243) {
  background: #04ba27; }

main div:nth-child(244) {
  background: #0ed046; }

main div:nth-child(245) {
  background: #c24a59; }

main div:nth-child(246) {
  background: #02f521; }

main div:nth-child(247) {
  background: #0de1cd; }

main div:nth-child(248) {
  background: #5a1621; }

main div:nth-child(249) {
  background: #520b1e; }

main div:nth-child(250) {
  background: #3bfa66; }

main div:nth-child(251) {
  background: #7683e3; }

main div:nth-child(252) {
  background: #8c93a7; }

main div:nth-child(253) {
  background: #57e082; }

main div:nth-child(254) {
  background: #192e1f; }

main div:nth-child(255) {
  background: #9f6f9c; }

main div:nth-child(256) {
  background: #bdcffa; }

main div:nth-child(257) {
  background: #75edf1; }

main div:nth-child(258) {
  background: #c42dc3; }

main div:nth-child(259) {
  background: #64ebfe; }

main div:nth-child(260) {
  background: #82ae96; }

main div:nth-child(261) {
  background: #e2f299; }

main div:nth-child(262) {
  background: #fff50f; }

main div:nth-child(263) {
  background: #2674e5; }

main div:nth-child(264) {
  background: #12dcac; }

main div:nth-child(265) {
  background: #d8780e; }

main div:nth-child(266) {
  background: #c4b273; }

main div:nth-child(267) {
  background: #50e9ea; }

main div:nth-child(268) {
  background: #d0a553; }

main div:nth-child(269) {
  background: #dece13; }

main div:nth-child(270) {
  background: #e6d17b; }

main div:nth-child(271) {
  background: #80f5c7; }

main div:nth-child(272) {
  background: #e04739; }

main div:nth-child(273) {
  background: #ba67d9; }

main div:nth-child(274) {
  background: #19851b; }

main div:nth-child(275) {
  background: #7f8457; }

main div:nth-child(276) {
  background: #943a74; }

main div:nth-child(277) {
  background: #9a1430; }

main div:nth-child(278) {
  background: #9741af; }

main div:nth-child(279) {
  background: #d408a2; }

main div:nth-child(280) {
  background: #c91841; }

main div:nth-child(281) {
  background: #a5ffa4; }

main div:nth-child(282) {
  background: #a33f82; }

main div:nth-child(283) {
  background: #ea52b4; }

main div:nth-child(284) {
  background: #a790f8; }

main div:nth-child(285) {
  background: #cdc4d3; }

main div:nth-child(286) {
  background: #8908b6; }

main div:nth-child(287) {
  background: #362a5b; }

main div:nth-child(288) {
  background: #1f4c52; }

main div:nth-child(289) {
  background: #15aff0; }

main div:nth-child(290) {
  background: #ac7d7b; }

main div:nth-child(291) {
  background: #fe0da9; }

main div:nth-child(292) {
  background: #aa2f30; }

main div:nth-child(293) {
  background: #02e0fb; }

main div:nth-child(294) {
  background: #ec8bd0; }

main div:nth-child(295) {
  background: #1aa0ac; }

main div:nth-child(296) {
  background: #eacceb; }

main div:nth-child(297) {
  background: #ac6251; }

main div:nth-child(298) {
  background: #1de5df; }

main div:nth-child(299) {
  background: #755cd1; }

main div:nth-child(300) {
  background: #89838f; }

main div:nth-child(301) {
  background: #f1fe93; }

main div:nth-child(302) {
  background: #802aad; }

main div:nth-child(303) {
  background: #4c858b; }

main div:nth-child(304) {
  background: #21c5f1; }

main div:nth-child(305) {
  background: #26798f; }

main div:nth-child(306) {
  background: #e188e5; }

main div:nth-child(307) {
  background: #45f2af; }

main div:nth-child(308) {
  background: #4133cf; }

main div:nth-child(309) {
  background: #9267b9; }

main div:nth-child(310) {
  background: #65967d; }

main div:nth-child(311) {
  background: #b43428; }

main div:nth-child(312) {
  background: #448f0e; }

main div:nth-child(313) {
  background: #33e25c; }

main div:nth-child(314) {
  background: #49260a; }

main div:nth-child(315) {
  background: #1dca13; }

main div:nth-child(316) {
  background: #a2786e; }

main div:nth-child(317) {
  background: #341001; }

main div:nth-child(318) {
  background: #362a3a; }

main div:nth-child(319) {
  background: #59d07c; }

main div:nth-child(320) {
  background: #06e2ce; }

main div:nth-child(321) {
  background: #2f1508; }

main div:nth-child(322) {
  background: #d9c322; }

main div:nth-child(323) {
  background: #fcf127; }

main div:nth-child(324) {
  background: #35b15a; }

main div:nth-child(325) {
  background: #047838; }

main div:nth-child(326) {
  background: #21fcee; }

main div:nth-child(327) {
  background: #09e060; }

main div:nth-child(328) {
  background: #844aa6; }

main div:nth-child(329) {
  background: #6f262a; }

main div:nth-child(330) {
  background: #1ff5ae; }

main div:nth-child(331) {
  background: #6afea4; }

main div:nth-child(332) {
  background: #ed8bfb; }

main div:nth-child(333) {
  background: #ac6d8f; }

main div:nth-child(334) {
  background: #3c5365; }

main div:nth-child(335) {
  background: #f261ba; }

main div:nth-child(336) {
  background: #1daf81; }

main div:nth-child(337) {
  background: #2bfc60; }

main div:nth-child(338) {
  background: #c56836; }

main div:nth-child(339) {
  background: #de68c6; }

main div:nth-child(340) {
  background: #70bc3d; }

main div:nth-child(341) {
  background: #ec70a0; }

main div:nth-child(342) {
  background: #1191b9; }

main div:nth-child(343) {
  background: #9ca391; }

main div:nth-child(344) {
  background: #9fedeb; }

main div:nth-child(345) {
  background: #947ea8; }

main div:nth-child(346) {
  background: #d28d88; }

main div:nth-child(347) {
  background: #d6d29b; }

main div:nth-child(348) {
  background: #9ef451; }

main div:nth-child(349) {
  background: #142463; }

main div:nth-child(350) {
  background: #34d98d; }

main div:nth-child(351) {
  background: #243cc4; }

main div:nth-child(352) {
  background: #c202be; }

main div:nth-child(353) {
  background: #cefac2; }

main div:nth-child(354) {
  background: #1b61b3; }

main div:nth-child(355) {
  background: #ea8b45; }

main div:nth-child(356) {
  background: #654342; }

main div:nth-child(357) {
  background: #b03270; }

main div:nth-child(358) {
  background: #a10ceb; }

main div:nth-child(359) {
  background: #e19668; }

main div:nth-child(360) {
  background: #b43d3c; }

main div:nth-child(361) {
  background: #32a3d2; }

main div:nth-child(362) {
  background: #cba728; }

main div:nth-child(363) {
  background: #5cea3a; }

main div:nth-child(364) {
  background: #61b94d; }

main div:nth-child(365) {
  background: #b224ce; }

main div:nth-child(366) {
  background: #271114; }

main div:nth-child(367) {
  background: #5b8ce1; }

main div:nth-child(368) {
  background: #f82ad0; }

main div:nth-child(369) {
  background: #75d506; }

main div:nth-child(370) {
  background: #e1df9c; }

main div:nth-child(371) {
  background: #74b6a4; }

main div:nth-child(372) {
  background: #7491a1; }

main div:nth-child(373) {
  background: #8011b5; }

main div:nth-child(374) {
  background: #a4345e; }

main div:nth-child(375) {
  background: #236079; }

main div:nth-child(376) {
  background: #779f96; }

main div:nth-child(377) {
  background: #8d6ad2; }

main div:nth-child(378) {
  background: #da0f99; }

main div:nth-child(379) {
  background: #379938; }

main div:nth-child(380) {
  background: #e40ce8; }

main div:nth-child(381) {
  background: #2a24de; }

main div:nth-child(382) {
  background: #7b107b; }

main div:nth-child(383) {
  background: #473e53; }

main div:nth-child(384) {
  background: #370735; }

main div:nth-child(385) {
  background: #acbc4d; }

main div:nth-child(386) {
  background: #d73ed6; }

main div:nth-child(387) {
  background: #9bd0e1; }

main div:nth-child(388) {
  background: #fe2950; }

main div:nth-child(389) {
  background: #dbe03e; }

main div:nth-child(390) {
  background: #baa9aa; }

main div:nth-child(391) {
  background: #eec066; }

main div:nth-child(392) {
  background: #02cca1; }

main div:nth-child(393) {
  background: #bf1e08; }

main div:nth-child(394) {
  background: #79532c; }

main div:nth-child(395) {
  background: #e9ce25; }

main div:nth-child(396) {
  background: #09ad60; }

main div:nth-child(397) {
  background: #1d801a; }

main div:nth-child(398) {
  background: #33af46; }

main div:nth-child(399) {
  background: #cf3144; }

body {
  margin: 1vw 0 0 1vw;
  color: #222;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 2vw;
  text-shadow: 1px 2px #eee; }

main {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

div {
  box-sizing: border-box;
  border-right: 1vw solid #fff;
  border-bottom: 1vw solid #fff;
  min-height: 12.5vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  div:not(:empty) {
    position: sticky;
    top: 0; }
    div:not(:empty).big {
      top: 12.5vw; }

.big {
  grid-column-end: span 2;
  grid-row-end: span 2; }

.extrabig {
  grid-column-end: span 3;
  grid-row-end: span 3; }

.superbig {
  grid-column-end: span 4;
  grid-row-end: span 4; }

/*# sourceMappingURL=site.css.map */
